<%= render 'header' %>

<!-- portfolio section -->
<div id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 title">
        <h2>Portfolio</h2>
        <hr>
      </div>

      <div class="col-md-12 col-sm-12"></div>
      <% @projects.each do |p| %>
      	<div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s">
	      	<%= link_to(show_project_path(p)) do %>
	          <%= image_tag "#{p.base_image}", class: 'project-image' %>
	        <% end %>
	      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- contact section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 title">
        <h2>Contact Me</h2>
        <hr>
      </div>
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 contact-form wow fadeInUp" data-wow-delay="0.9s">
        <%= simple_form_for(:contact, url: contact_form_path, method: :put) do |f| %>
		  		<%= f.input :full_name, input_html: { class:"form-control" }, label: false, placeholder: 'Full Name' %>
		  		<%= f.input :email, input_html: { class:"form-control" }, label: false, placeholder: 'Email Address'  %>
		  		<%= f.input :body, as: :text, input_html: {rows: 5, cols: 20, class:"form-control"}, label: false, placeholder: 'Message'  %>

		  		<%= f.submit "Let's Chat", class:"form-control submit-btn" %>
		  	<% end %>
      </div>
    </div>
  </div>
</section>

<!-- google map section -->
<div class="google_map">
  <div id="map-canvas"></div>
</div>

<%= render 'footer' %>