<%= image_tag ("https://s3.amazonaws.com/yarkukhtinprojectimages/logo.svg"), class: 'logo' %>

<div class="main_container">
  <nav class="cl-effect-14" id="cl-effect-14">
    <a href="#work" class="menu-item">Work</a>
    <a href="#contact" class="menu-item">Who</a>
  </nav>
</div>

<div class="main">
  <div id="work">
    <div class="row">
      <% @projects.each do |p| %>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <%= link_to(show_project_path(p)) do %>
          <%= image_tag("#{p.base_image}", class: 'project-image') %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="contact-form">
  <div id="contact">
  	<%= simple_form_for(:contact, url: contact_form_path, method: :put) do |f| %>
  		<%= f.input :full_name %>
  		<%= f.input :email %>
  		<%= f.input :body, as: :text, input_html: {rows: 5, cols: 20} %>

  		<%= f.submit "Let's Chat" %>
  	<% end %>
  </div>
</div>